<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Manage Stock</h5>
                        <p class="card-text">
                            Click here to manage all piano stock registered with
                            the store.
                        </p>
                        <a class="btn btn-dark" routerLink="/managePianos"
                            >Manage Stock</a
                        >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Manage Users</h5>
                        <p class="card-text">
                            Click here to manage all registered users.
                        </p>
                        <a class="btn btn-dark" routerLink="/manageUsers"
                            >Manage Users</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
