<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="text-center">Home</h1>
        <br />
        <div class="row">
            <p class="col-md-8">
                Our objective is to supply quality pianos, competitively priced
                and backed up with the best technical support available. We only
                supply pianos which, in our opinion, are among the top brands in
                the world today, e.g. Steinway & Sons, Boston, Essex, Kawai,
                Yamaha, and Roland. Mark's Musicians is the most successful
                piano company in Ireland, because, we believe, that excellence
                in service to our customers is of paramount importance.
            </p>
            <img
                class="col-md-4"
                src="../../assets/home-pic2.jpg"
                style="transform: translateY(-30px);"
            />
        </div>
        <br />
        <br />
        <div class="row">
            <img
                class="col-md-4"
                src="../../assets/home-pic1.jpg"
                style="transform: translateY(-30px);"
            />
            <p class="col-md-8">
                All our new pianos come with a full 10-year written guarantee.
                Approximately 3 months after delivery, when the piano has
                settled down in its new home, all new pianos are serviced and
                tuned free of charge. Our technicians are highly trained and
                motivated full time employees, committed to the philosophy and
                success of Pianos Plus. This ensures that our customers always
                come first.
            </p>
        </div>
    </div>
</div>
