<div class="container">
    <div class="jumbotron mt-5">
        <div class="card mb-5">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img
                        src="../../assets/pianos/boston-GP156.jpg"
                        style="height: 300px;"
                        class="card-img"
                        alt="Can't load image :("
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Grand Pianos</h3>
                        <div class="card-text"></div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <a
                            class="btn btn-dark text-light float-right"
                            routerLink="/grandPianos"
                            >Shop</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img
                        src="../../assets/pianos/boston-UP118.jpg"
                        style="height: 300px;"
                        class="card-img"
                        alt="Can't load image :("
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Upright Pianos</h3>
                        <div class="card-text"></div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <a
                            class="btn btn-dark text-light float-right"
                            routerLink="/uprightPianos"
                            >Shop</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img
                        src="../../assets/pianos/kawai-digital-300x300.jpg"
                        style="height: 300px;"
                        class="card-img"
                        alt="Can't load image :("
                    />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Digital Pianos</h3>
                        <div class="card-text"></div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <a
                            class="btn btn-dark text-light float-right"
                            routerLink="/digitalPianos"
                            >Shop</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
